@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 180 16% 8%; /* Aptos Black */
    --card: 0 0% 100%;
    --card-foreground: 180 16% 8%; /* Aptos Black */
    --popover: 0 0% 100%;
    --popover-foreground: 180 16% 8%; /* Aptos Black */
    --primary: 180 16% 8%; /* Aptos Black */
    --primary-foreground: 0 0% 100%;
    --secondary: 180 95% 49%; /* Aptos Blue */
    --secondary-foreground: 180 16% 8%; /* Aptos Black */
    --muted: 180 47% 45%; /* Aptos Blue-Light */
    --muted-foreground: 180 16% 8%; /* Aptos Black */
    --accent: 180 95% 49%; /* Aptos Blue */
    --accent-foreground: 180 16% 8%; /* Aptos Black */
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 180 47% 45%; /* Aptos Blue-Light */
    --input: 180 47% 45%; /* Aptos Blue-Light */
    --ring: 180 95% 49%; /* Aptos Blue */
    --chart-1: 180 95% 49%; /* Aptos Blue */
    --chart-2: 180 47% 45%; /* Aptos Blue-Light */
    --chart-3: 182 97% 28%; /* Aptos Blue-Medium */
    --chart-4: 183 84% 20%; /* Aptos Blue-Dark */
    --chart-5: 180 16% 8%; /* Aptos Black */
    --radius: 0.5rem;
  }
  .dark {
    --background: 180 16% 8%; /* Aptos Black */
    --foreground: 0 0% 100%;
    --card: 183 84% 20%; /* Aptos Blue-Dark */
    --card-foreground: 0 0% 100%;
    --popover: 180 16% 8%; /* Aptos Black */
    --popover-foreground: 0 0% 100%;
    --primary: 180 95% 49%; /* Aptos Blue */
    --primary-foreground: 180 16% 8%; /* Aptos Black */
    --secondary: 182 97% 28%; /* Aptos Blue-Medium */
    --secondary-foreground: 0 0% 100%;
    --muted: 183 84% 20%; /* Aptos Blue-Dark */
    --muted-foreground: 180 47% 45%; /* Aptos Blue-Light */
    --accent: 180 95% 49%; /* Aptos Blue */
    --accent-foreground: 0 0% 100%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 180 47% 45%; /* Aptos Blue-Light */
    --input: 182 97% 28%; /* Aptos Blue-Medium */
    --ring: 180 95% 49%; /* Aptos Blue */
    --chart-1: 180 95% 49%; /* Aptos Blue */
    --chart-2: 180 47% 45%; /* Aptos Blue-Light */
    --chart-3: 182 97% 28%; /* Aptos Blue-Medium */
    --chart-4: 183 84% 20%; /* Aptos Blue-Dark */
    --chart-5: 180 16% 8%; /* Aptos Black */
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
